@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Great Vibes', cursive;
*/
*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}
header #top{
	background-color: #1b2024;
	font-size: .917rem;
	padding: 0.40625rem 4.6875rem;
	color: #d1d2d3;
	position: absolute;
	top: 0%;
}
header #icon-header a{
	color: white;
}
header #icon-header i{
	padding: 0 0.3125rem;
	float: right;
	line-height: 1.375rem;
}
header .navbar{
	width: 100%;
	position: absolute;
	top: 7%;
	left: 5%;
}
header .navbar .collapse{
	margin-left: 20%;
	font-weight: 600;
	font-size: 1rem;
}
header .navbar-dark .navbar-nav .nav-link.active{
	color: #e5cf05;
}
header .navbar-dark .navbar-nav .nav-link {
	color: white;
}
header .navbar-dark .navbar-nav .nav-link:hover{
	color: #e5cf05;
}
header #nhom-anh-tron{
	position: absolute;
	top: 78%;
}
header figcaption {
	font-weight: 600;
	font-size: 1.5rem
}
#ve-chung-toi{
	margin-top: 17%;
}
#ve-chung-toi .col-md-6:first-child{
	padding: 0;
}
#ve-chung-toi p:first-child{
	font-family: 'Great Vibes', cursive;
	font-size: 3.5rem;
	padding-top: 1rem;
	margin-bottom: 0rem;
}
#ve-chung-toi hr{
	background-color:  #e5cf05;
	height: 2px;
	width: 50%;
	margin: auto;
}
#ve-chung-toi p:not(first-child){
	font-size: 1.16rem;
	margin-top: 2rem;
}
#ba-cot{
	
}
#ba-cot .col-md-4{
}